<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink="">Movies</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="">Drama</a>
        <a class="nav-item nav-link" routerLink="">Romance</a>
        <a class="nav-item nav-link" routerLink="">Thriller</a>
        <a class="nav-item nav-link" routerLink="tweet"><i class="fab fa-twitter text-primary"></i> Tweet</a>
      </div>
      <div class="navbar-nav ml-auto">
        <a class="nav-item nav-link" routerLink="cart"><i class="fas fa-shopping-cart"></i></a>
        <div class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" routerLink="" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-user-circle"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" routerLink="">Order History</a>
            <a class="dropdown-item" routerLink="">Profile</a>
          </div>
        </div>
      </div>
    </div>
  </nav>
</div>
